@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Bebas Neue", sans-serif;

}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #333;
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e7e7e9;
}
